<h1>Getting Chain Info</h1>
<h4>Connected to: <%= ENV['PADCHAIN_NODE_NAME'] %></h4>

<h2>Current Block Height: <%= @info['blocks'] %></h2>
<h2>Active Nodes: <%= @info['connections'] + 1 %></h2>
<h2>Current Network Hashrate: <%= @network_hash %>kh/ps</h2>

<h2>Assets: <%= @assets %></h2>

<h1>Latest Blocks</h1>
<% @current_block.reverse.each do |c| %>
  <h2>Height</h2>
  <h3><%= c['height'] %></h3>
  <h4>Hash</h4>
  <h5><%= c['hash'] %></h5>
  <h4>Confirmations</h4>
  <h5><%= c['confirmations'] %></h5>
  <h4>Transactions</h4>
  <% c['tx'].each do |t| %>
    <h5><%= t %></h5>
    <% if t['TXID'] != nil %>
      <p><%= BitcoinRpc.new('http://multichainrpc:' + ENV['PADCHAIN_NODE_KEY'] + '@' + ENV['PADCHAIN_NODE_ADDRESS'] + ':6306/').gettransaction(t['TXID']) %></p>
    <% end %>
  <% end %>
<% end %>
